*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Segoe UI',sans-serif;
}

body{
background:#eef3ff;
}

.login-page{

height:100vh;

display:flex;

justify-content:center;

align-items:center;

background:linear-gradient(135deg,#1e3c72,#2a5298,#6dd5fa);

position:relative;

overflow:hidden;

}

.overlay{

position:absolute;

width:700px;

height:700px;

background:rgba(255,255,255,.08);

border-radius:50%;

top:-250px;

right:-200px;

}

.login-card{

position:relative;

z-index:2;

width:420px;

background:rgba(255,255,255,.15);

backdrop-filter:blur(20px);

padding:40px;

border-radius:20px;

box-shadow:0 15px 35px rgba(0,0,0,.25);

color:white;

}

.logo{

font-size:60px;

text-align:center;

margin-bottom:10px;

}

.login-card h1{

text-align:center;

margin-bottom:10px;

}

.login-card p{

text-align:center;

margin-bottom:25px;

color:#f2f2f2;

}

.input-group{

margin-bottom:18px;

}

.input-group label{

display:block;

margin-bottom:6px;

font-weight:600;

}

.input-group input{

width:100%;

padding:14px;

border:none;

outline:none;

border-radius:10px;

font-size:15px;

}

.login-btn{

width:100%;

padding:14px;

margin-top:10px;

border:none;

border-radius:10px;

background:#00c853;

color:white;

font-size:17px;

cursor:pointer;

transition:.3s;

}

.login-btn:hover{

background:#009624;

}

.bottom-text{

margin-top:25px;

text-align:center;

}

.bottom-text a{

margin-left:6px;

color:white;

font-weight:bold;

text-decoration:none;

}

.bottom-text a:hover{

text-decoration:underline;

}

@media(max-width:500px){

.login-card{

width:90%;

padding:30px;

}

}